{% extends 'layouts/application.html' %}

{% block content %}
  <div class="container p2 sm-p3 sm-mt4">
    <div class="clearfix">
      <div class="col col-3">
        <div class="mr1 sm-mr2 sidebar"><!-- .sidebar -->
          <img src="images/profile.jpg" class="rounded profile"/>
          <h3 class="name">Rollo Konig-Brock</h3>
          <div class="contact">
            <a class="col col-12 md-col-4 mb2" href="mailto:rollo@konigbrock.com"><i class="fa fa-envelope-o"></i><br>Email</a>
            <a class="col col-12 md-col-4 mb2" href="https://github.com/rollokb" target="_blank"><i class="fa fa-github"></i><br>GitHub</a>
            <a class="col col-12 md-col-4 mb2" href="https://twitter.com/RolloKonigBrock" target="_blank"><i class="fa fa-twitter"></i><br>Twitter</a>
          </div>
        </div><!-- /.sidebar -->
      </div>
      <div class="col col-9">
        <div class="sm-ml2 overflow-hidden rounded px2 main"><!-- .main -->
          <h1 class="mt0 h1">Contract Web Developer.</h1>
          <p>
            I create everything from simple static sites to fully 
            featured web applications; while paying close attention
            to design and architecture. I primarily work building
            web services with Django, apps in ReactJS, Swift and ObjC.
          </p>
          <p>
            <a href="mailto:rollo@konigbrock.com"><span class="monospace h3 to-hire cyan">Available to hire.</span></a>
          <p>
          <hr>
          <div class="container mb2">
            <div class="clearfix feeds">
              <div class="col col-12 sm-col-6">
                <h2>Interests</h2>
                <ul id="github-feed"></ul>
                <span class="monospace">more</span>
              </div>
              <hr class="sm-hide py1">
              <div class="col col-12 sm-col-6">
                <h2>Articles</h2>
                <ul></ul>
                <span class="monospace">comming soon</span>
              </div>
            </div>
          </div>
          <hr>
        </div><!-- /.main -->
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="javascripts/page1.js"></script>
{% endblock %}
