@import './base/_variables.scss';
@import 'basscss';
@import './generated/_icons.sass';

body {
  background-color: #101010;
  background: radial-gradient(circle , #101010 0%, #101010 95%);
  background-size: cover;
}

.sidebar a {
  font-size: 0.8rem;
  font-family: $monospace-font-family;
}

.main {

}
