@import 'font-awesome';
@import './base/_variables.scss';
@import 'basscss';
@import './generated/_icons.sass';


body,html {
  font-size: 14px;

  @media #{$breakpoint-md} {
    font-size: 16px;
  }
}

hr {
  width: 100%;
  display: block;
}

ul {
  margin-bottom: 0;
}

.monospace {
  font-family: $monospace-font-family;
}

.contact {
  width: 100%;
  overflow: hidden;
}

.sidebar a {
  font-size: 0.8rem;
  font-family: $monospace-font-family;
  color: $cyan;
  text-align: center;
  display: block;
}

.feeds ul {
  padding-left: 0;
}

.feeds li {
  list-style: none;
  font-family: $monospace-font-family;
}

.feeds li:before {
  font-family: 'FontAwesome';
  content: '\f105';
  margin-right: 0.4rem;
}

.sidebar .name {
  border-top: solid 1px $border-color;
  padding-top: 1em;
  text-align: center;
}

.fa-map-marker {
  margin-right: 0.4rem;
}

.sidebar .location {
  border-bottom: solid 1px $border-color;
  text-align: center;
  padding-bottom:: 1em;
  padding-top: 0.4em;
}

.bg-cyan {
  background-color: $cyan;
}

.cyan {
  color: $cyan;
}

.to-hire:before {
  font-family: 'FontAwesome';
  content: '\f105';
  margin-right: 0.4rem;
}
